@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FribergRentalsRazor</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FribergRentalsRazor.styles.css" asp-append-version="true" />
</head>
<body>
    <header id="header">
        <nav>
            <div class="logo">
                <img src="/Images/friberg_logo2.png" alt="Friberg Rentals Razor" width="120px" />
            </div>

            <div class="nav-main-links">
                <ul>
                    <li>
                        <a class="nav-link" asp-page="/Index">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-page="/Admin/Car/Index">Cars</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-page="/Admin/Customer/Index">Customers</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-page="/Admin/Booking/Index">Bookings</a>
                    </li>
                </ul>
            </div>
            <div class="nav-user-links">
                <ul>
                    <li>
                        <p class="nav-link">Admin: @Context.Session.GetString("LoggedInAdmin")</p>
                    </li>
                    <li>
                        <a class="nav-link btn-sm function" asp-page="/Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="panel mainContainer">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>