@{
}<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Index">Home</a>
        </li>
        @{
            if (Context.Session.GetString("LoggedInAdmin") != null)
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Admin/Car/Index">Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Admin/Customer/Index">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Admin/Booking/Index">Bookings</a>
                </li>
            }
            else if (Context.Session.GetString("LoggedInCustomer") != null)
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Customer/Car/Index">Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Customer/Booking/Index">Bookings</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Customer/Car/Index">Cars</a>
                </li>
            }
        }
    </ul>
</div>

<div class="loggedUser">
    <ul class="navbar-nav flex-grow-1">
        @{
            if (Context.Session.GetString("LoggedInAdmin") != null)
            {
                <li class="nav-item">
                    <p class="positive" style="color: black">Admin: @Context.Session.GetString("LoggedInAdmin")</p>
                </li>
                <li class="nav-item">
                    <a class="btn-sm function" asp-page="/Logout">Logout</a>
                </li>
            }
            else if (Context.Session.GetString("LoggedInCustomer") != null)
            {
                <li class="nav-item">
                    <p class="positive" style="color: black">Customer: @Context.Session.GetString("LoggedInCustomer")</p>
                </li>
                <li class="nav-item">
                    <a class="btn-sm function" asp-page="/Logout">Logout</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Login">Login</a>
                </li>
            }
        }
    </ul>
</div>
