@page
@model FribergRentalsRazor.Pages.Customer.Booking.CreateModel

@{
    ViewData["Title"] = "Create";
}

<partial name="_authCustomer" />

<div class="panel neutral">
    <h1>Booking a car!</h1>

    <h3>You wish to book this car: </h3>
    @Html.DisplayFor(model => model.Booking.Car.Brand) @Html.DisplayFor(model => model.Booking.Car.Model)

    @if (Model.Booking.Car.ImageUrls != null)
    {
        @foreach (var imageUrl in Model.Booking.Car.ImageUrls.First())
        {
            <p><img src="@imageUrl" alt="Car image" width="200" height=auto /></p>
        }
    }

    @if (ModelState.ErrorCount > 0)
    {
        <div class="msg error" asp-validation-summary="All"></div>
    }
    <form method="post">
        <div class="form-group">
            <label asp-for="Booking.RentalStartDate" class="control-label"></label>
            <input asp-for="Booking.RentalStartDate" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Booking.RentalReturnDate" class="control-label"></label>
            <input asp-for="Booking.RentalReturnDate" class="form-control" />
        </div>
        <div class="HiddenValues">
            <input type="hidden" asp-for="Booking.Car.Id" />
            <input type="hidden" asp-for="Booking.Car.Model" />
            <input type="hidden" asp-for="Booking.Car.Brand" />
            <input type="hidden" asp-for="Booking.Car.Year" />
            <input type="hidden" asp-for="Booking.Car.Comment" />
            <input type="hidden" asp-for="Booking.Car.CostPerDay" />
            <input type="hidden" asp-for="Booking.Car.ImageUrls[0]" />
            <input type="hidden" asp-for="Booking.Customer.CustomerId" />
            <input type="hidden" asp-for="Booking.Customer.Email" />
            <input type="hidden" asp-for="Booking.Customer.Password" />
            <input type="hidden" asp-for="Booking.Customer.FullName" />
            <input type="hidden" asp-for="Booking.Customer.Address" />
            <input type="hidden" asp-for="Booking.Customer.City" />
            <input type="hidden" asp-for="Booking.Customer.State" />
            <input type="hidden" asp-for="Booking.Customer.Zipcode" />
            <input type="hidden" asp-for="Booking.Customer.Country" />
            <input type="hidden" asp-for="Booking.Customer.Phone" />
        </div>
        <div class="form-group">
            <input type="submit" value="Create Booking" class="btn positive" />
            <a class="btn cancel" asp-page="/Customer/Car/Index">Cancel</a>
        </div>
    </form>
</div>