@page
@model FribergRentalsRazor.Pages.Admin.Customer.CreateModel

@{
    ViewData["Title"] = "Create";
}

<partial name="_authAdmin" />

<div class="panel neutral">
    <h1>Create Customer</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                @if (ModelState.ErrorCount > 0)
                {
                    <div class="msg error" asp-validation-summary="All"></div>
                }
                <div class="form-group">
                    <label asp-for="Customer.Email" class="control-label"></label>
                    <input asp-for="Customer.Email" class="form-size" />
                </div>
                <div class="form-group">
                    <label asp-for="Customer.Password" class="control-label"></label>
                    <input asp-for="Customer.Password" class="form-size" />
                </div>
                <div class="form-group">
                    <label asp-for="Customer.FullName" class="control-label"></label>
                    <input asp-for="Customer.FullName" class="form-size" />
                </div>
                <div class="form-group">
                    <label asp-for="Customer.Address" class="control-label"></label>
                    <input asp-for="Customer.Address" class="form-size" />
                </div>
                <div class="form-group">
                    <label asp-for="Customer.City" class="control-label"></label>
                    <input asp-for="Customer.City" class="form-size" />
                </div>
                <div class="form-group">
                    <label asp-for="Customer.State" class="control-label"></label>
                    <input asp-for="Customer.State" class="form-size" />
                </div>
                <div class="form-group">
                    <label asp-for="Customer.Zipcode" class="control-label"></label>
                    <input asp-for="Customer.Zipcode" class="form-size" />
                </div>
                <div class="form-group">
                    <label asp-for="Customer.Country" class="control-label"></label>
                    <input asp-for="Customer.Country" class="form-size" />
                </div>
                <div class="form-group">
                    <label asp-for="Customer.Phone" class="control-label"></label>
                    <input asp-for="Customer.Phone" class="form-size" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn positive" />
                    <a class="btn cancel" asp-page="Index">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>