/* CSS Reset*/
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --primary-color: #dac3ea;
    --secondary-color: #be87e6;
    --darkPurple: #5325a4;
    --darkestPurple: #190d1b;
    --green-color: #c0ffbe;
    --green-darker-color: #3fa83b;
    --green-border-color: #1ca518;
    --green-hover-color: #45a049;
    --purple-color: #881cbe;
    --purple-light-border: #dcb3f2;
    --very-light-purple: #f7edfc;
    --light-purple: #dcb3f2;
    --purple2-color: #881bbf;
    --light-red: #ffd7dd;
    --red: #fa0025;
    --light-blue: #c1e3ff;
    --blue: #116fbb;
    --light-yellow: #fff3d8;
    --yellow: #ffb915;
    --error-red: #ff4f69;
    --error-dark-red: #fa0025;
    --gray-dark: #555;
    --gray-medium: #888;
    --gray-light: #BBB;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* HEADER section of styling.  Logo + Menu + Icons */

header {
    display: flex;
    background-color: var(--darkestPurple);
}

.logo {
    align-self: center;
    padding: 5px;
    z-index: 1;
}

nav {
    display: flex;
    flex: 1;
    height: 4rem;
}

div.nav-main-links {
    display: flex;
    justify-content: space-between;
}

div.nav-user-links {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

nav li, a {
    color: white;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}

nav li {
    margin: 5px;
    padding: 10px 0px 10px 0px;
}

    nav li a:hover {
        background-color: var(--primary-color);
        color: black;
        padding: 5px;
        transition: 0.5s;
    }

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .icons > img {
        width: 40px;
    }

/* MAIN section of styling.  Main content of information */

.mainContainer {
    display: flex;
    justify-content: center;
}

main {
    width: 70%;
    background-color: white;
    padding: 10px;
}

a {
    color: var(--very-light-purple);
    text-decoration: none;
}

    a:hover {
        color: black;
    }

.panel {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    /*box-shadow: 2px 2px 5px 2px #190d1b;*/
}

/* predefined color-scheme for panels, messages, etc. */
.neutralinverse {
    background-color: var(--purple-color);
    border: 2px solid var(--purple-light-border);
    color: white;
}

.neutralNoBorder {
    background-color: var(--very-light-purple);
}

.neutral {
    background-color: var(--very-light-purple);
    border: 2px solid var(--purple2-color);
}

.neutraldarker {
    background-color: var(--purple-light-border);
    border: 2px solid var(--purple-color);
}

.positive {
    background-color: var(--green-color);
    border: 2px solid var(--green-border-color);
}

.negative {
    background-color: var(--light-red);
    border: 2px solid var(--red);
}

.function {
    background-color: var(--light-blue);
    border: 2px solid var(--blue);
}

.warning {
    background-color: var(--light-yellow);
    border: 2px solid var(--yellow);
}

.error {
    background-color: var(--error-red);
    border: 2px solid var(--error-dark-red);
    color: white;
}

.cancel {
    background-color: var(--gray-medium);
    border: 2px solid var(--gray-dark);
    color: white;
}

/* Buttons */
a.btn {
    padding: 8px 20px;
    margin: 8px 0;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    font-size: 0.8rem;
}

a.btn:hover {
    padding: 8px 20px;
    margin: 8px 0;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    font-size: 0.8rem;
}

.btn {
    padding: 10px 20px;
    margin: 8px 0;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    font-size: 0.8rem;
}

    .btn:hover {
        padding: 10px 20px;
        margin: 8px 0;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0px 0px 5px 2px var(--darkestPurple);
        transition-duration: 0.5s;
        color: black;
    }

.btn-sm {
    padding: 0.2rem 10px;
    margin: 4px 0;
    border-radius: 8px;
    cursor: pointer;
    color: black;
}

    .btn-sm:hover {
        padding: 0.2rem 10px;
        margin: 4px 0;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0px 0px 5px 2px var(--darkestPurple);
        transition-duration: 0.5s;
        color: black;
    }


/* Message boxes */
.msg {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    display: inline-flex;
}

/* Form section */

input[type=text], input[type=password] {
    border: 1px solid var(--light-purple);
    padding: 0.4rem 10px;
    margin: 4px 0;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    display: block;
}

    input[type=text]:hover, input[type=password]:hover {
        box-shadow: 0px 0px 5px 2px var(--darkestPurple);
        transition-duration: 0.5s;
        color: black;
        display: block;
    }

input[type=radio] {
    width: auto;
}

.form-size {
    width: 100%;
}

.carImage {
    width: 100px;
}

/* Table section */
td {
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 0.8rem;
}