@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="panel neutral">
    <h1>Welcome to Fribergs Car Rentals.</h1>
    <p>I have a variety of cars to choose from.</p>
    <p>After you are registered and then logged in you can choose car to book. You can also view old bookings & delete current ones.</p>

    <div class="mainContainer">
        <div class="msg neutraldarker">As an admin you can list, create, edit, delete, cars / customers and also list, delete bookings</div>
    </div>

    <div class="mainContainer">
        <div class="msg neutraldarker">As an customer you can list cars and then book an available car. You can also list my own bookings and remove future ones.</div>
    </div>

    <div class="mainContainer">
        <img class="mainLogo" style="" src="/Images/friberg_logo.png" width="400px" />
    </div>
</div>

