@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="panel neutral">
<h1>Welcome to Fribergs Car Rentals.</h1>
<p>I have a variety of cars to choose from.</p>
<p>After you are registered and then logged in you can choose car to book. You can also view old bookings & delete current ones.</p>
<a asp-page="/Register" class="btn function">First i need you to register an account</a>
</div>