@page
@model FribergRentalsRazor.Pages.LoginModel
@{
}

<h1>Login</h1>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="container">
        <label asp-for="Admin.Email">Username : </label>
        <input asp-for="Admin.Email" type="text" required />

        <label asp-for="Admin.Password">Password : </label>
        <input asp-for="Admin.Password" type="password" required />
        
        <button type="submit">Login</button>
    </div>
</form>